<div class="footer wf-section">
    <div class="container">
        <div class="footer-wrapper">
            <div><a href="https://twitter.com/SaiyamShukla5" target="_blank"
                    class="social-footer-link w-inline-block"><img
                        src="https://uploads-ssl.webflow.com/632f2c816a78d730ffb26563/632f2c816a78d741dfb265aa_Twitter_Social_Icon_Rounded_Square_White.svg"
                        width="30" alt="Twitter Logo" /></a><a href="https://twitter.com/SaiyamShukla5"
                    class="social-footer-link w-inline-block"><img
                        src="https://uploads-ssl.webflow.com/632f2c816a78d730ffb26563/632f2c816a78d73b57b265ab_Facebook%20Logo.svg"
                        width="30" alt="Facebook Logo" /></a><a href="https://twitter.com/SaiyamShukla5"
                    target="_blank" class="social-footer-link w-inline-block"><img
                        src="https://uploads-ssl.webflow.com/632f2c816a78d730ffb26563/632f2c816a78d71a2cb265a9_Insta.svg"
                        width="30" alt="Instagram Logo" /></a></div>
        </div>
    </div>
</div>